<ion-header>
  <ion-toolbar>
    <ion-title>grid</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-content>
    <ion-grid>
        <ion-row>
          <ion-col> Grapes </ion-col>
          <ion-col> Orange </ion-col>
          <ion-col> Banana </ion-col>
          <ion-col> Apple </ion-col>
        </ion-row>
      
        <ion-row>
          <ion-col size="6">  Wheat [size= 6 units out of 12]  </ion-col>
          <ion-col> Rice </ion-col>
          <ion-col> Millet </ion-col>
          <ion-col> Ragi </ion-col>
          <ion-col> Bajra </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
</ion-content>
